/*IMPORT ES PARA LA FONT FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    width: 100%;
}

p {
    font-size: 1.1rem;
}

/*INICIO NAV*/

nav {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    transition: all 300ms;
    height: 65px;
    background-color: #5070D1;
}

.focus {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    position: absolute;
    margin-top: 13px;
    font-size: 35px;
    left: 3%
}

.opt-focus {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

nav ul{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav .btn_login{
    background: #5070D1;
    font-weight: 500;
    height: 2rem;
    padding: 10px 30px;
    color: white;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
}

nav .btn_login:hover {
    background-color: #415baa;
}

nav .btn_register{
    background: #fff;
    font-weight: 500;
    height: 2rem;
    padding: 10px 30px;
    color: #5070D1;
    border-radius: 6px;
}

nav .btn_register:hover {
    background-color: #dae1fa;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background-color: #5070D1;;
}

/*FIN NAV*/

/*INICIO HERO*/

.hero {
    width: 100%;
    height: 60vh; 
    display: flex;
    padding-top: 100px;
    background-color: #5070D1;
    background-attachment: fixed;
    margin-bottom: -1%;
}

.btn_br {
    content: "";
    display: block;
    margin: 40px; 
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 35vw;
}

.info {
    display: inline-flex;
}

.logo img{
    width: 280px;
    animation: move_vector 4s ease-in-out infinite;
}

@keyframes move_vector {
    0%{
        transform: translateY(20px);
    }
    25%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(20px);
    }
}

.info{
    max-width: 550px;
    z-index: 2;
}


.btn_download{
    background: #fff;
    font-weight: 600;
    height: 2rem;
    padding: 10px 30px;
    color: #5070D1;
    border-radius: 6px;
}

.btn_download:hover {
    background-color: #dae1fa;
}

.wrapper .dynamic-txt {
    height: 58px;
    overflow: hidden;
}

.dynamic-txt li {
    list-style: none;
    font-weight: 700;
    font-size: 40px;
    animation: slider 5.4s steps(3) infinite;
    position: relative;
    top: 0;
}


@keyframes slider {
    100% {
        top: -190px;
    }
}

.dynamic-txt li span {
    position: relative;
}

.dynamic-txt li span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-left: 2px solid #fff;
    animation: typing 1.8s steps(16) infinite;
    background: #5070D1;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

h1 {
    font-weight: 700;
    line-height: 60px;
    font-size: 40px;
}

/*FIN HERO*/

h2 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

/*INICIO Download*/

.download{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh; 
    margin-bottom: 10%;
}

.message-download{
    max-width: 550px;
    display: flex;
    flex: 50%;
    flex-direction: column;
    padding-right: 5%;
    margin-left: 12%;
    margin-right: 8%;
}

.apps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2%;
    margin-right: 10%;
}

.apps div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.apps-banner {
    padding-left: 2%;
}

.apps-banner img:hover {
    transform: scale(1.05);
    transition: all 300ms;
}

/*FIN Download*/

/*INICIO About*/

.about {
    display: flex;
    flex-direction: row;
    height: 40vh; 
    margin-bottom: 8%;
}

.message-about {
    max-width: 550px;
    display: flex;
    flex: 50%;
    flex-direction: column;
    margin-left: 12%;
    padding-right: 5%;
}

.message-about br {
    content: "";
    display: block;
    margin: 10px; 
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 2%;
    margin-right: 8%;
}

.slider__container{
    display: grid;
    align-items: center;
    gap: 1em;
}

.slider__body{
    grid-column: 1/5;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #D9D9D9;
    grid-template-columns: 1fr 340px;
    align-items: center;
    transition: opacity 1.5s;
    border-radius: 56px;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}

.slider__texts{
    max-width: 400px;
    padding-inline: 8%;
}

.slider__review{
    padding-top: 10px;
    line-height: 1.7;
}

.slider-img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding: 15%;
}

.slider-arrow{
    cursor: pointer;
    width: 5%;
}

.slider-arrow:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

.slider-arrow:nth-of-type(2){
    justify-self: end;
}

@media (max-width:768px){
    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1em;
    }

    .slider__picture{
        grid-row: 1/2;
    }

    .slider-img{   
        width: 210px;
        height: 210px;
        margin-left: 0cm;
    }
}

@media (max-width:425px){
    .slider__container{
        grid-template-columns: 25px 1fr 25px;
    }

    .slider-arrow{
       width: 100vw;
    }

    .slider-img{   
        width: 180px;
        height: 180px;
        margin-left: 0cm;
    }

    .person-name {
        margin-bottom: 15px;
        font-weight: 600;
    }

    .slider__review{
        font-size: 1rem;
        line-height: 1.6;
    }
}

/*FIN About*/

/*Contact Inicio*/

.contact
{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: -1%;
    background-color: #5070D1;
}

.contact-info{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 10%;
    margin-left: 12%;
    flex: 50%;
}

.contact-info p{
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 2.5;
}

.container-form {
    border-radius: 5px;
    padding: 20px;
    flex: 60%;
    margin-right: 13%;
    margin-bottom: 1%;
}

.container-form label {
    color: white;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: #5070D1;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 10px 40px;
    border-color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #415baa;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-75 textarea {
    font-size: 16px;
}

.col-75 input {
    font-size: 16px;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.container-form .btn-enviar{
    background: #5070D1;
    font-weight: 500;
    font-size: 18px;
    height: 3rem;
    color: white;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    width: 25%;
    margin-top: 20px;
}

.contact_header
{
    color: white;
}

.contact_weight {
    font-weight: 600;
    color: #FFFFFF;
}

/*Contact Final*/


